.parag{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: $text;
}

.title-h2{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  color: $text;
}
.title-h3{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: $text;
}

.title-h4{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: $text;
}

.title-h5{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.165em;
  color: $text;
}